annotated-types
anyio
asgiref
certifi
charset-normalizer
colorama
cramjam
distro
Django
django-extensions
djangorestframework
exceptiongroup
fastparquet
fsspec
h11
httpcore
httpx
idna
importlib_metadata
jiter
numpy
openai
packaging
pandas
pgvector
psycopg2-binary
pyarrow
pydantic
pydantic_core
pyproject_hooks
python-dateutil
pytz
requests
six
sniffio
sqlparse
tomli
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
zipp
faiss-cpu
gdown